.container {
  display: flex;
  background-color: var(--black);
  align-items: center;
  justify-content: space-between;
  color: var(--gray-100);
  padding: 10px 130px 10px 130px;
  font: "Roboto";
}

.nav {
  display: flex;
  gap: 3.75rem;

  span {
    cursor: pointer;
    transition: 0.2s;
  }

  span:hover {
    filter: brightness(0.8);
  }
}

.mode {
  display: flex;
  gap: 3.75rem;
  align-items: center;

  span {
    cursor: pointer;
    transition: 0.2s;
  }

  span:hover {
    filter: brightness(0.8);
  }
}

.moonIcon {
  cursor: pointer;
  transition: 0.2s;
}

.moonIcon:hover {
  filter: brightness(0.8);
}